@import "tailwindcss";

body {
  @apply bg-[#45bca5] font-sans antialiased text-gray-800;
  margin: 0;
  padding: 0;
}

/* Custom scrollbar for textareas */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 75, 52, 0.2); 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 75, 52, 0.4); 
}

/* Fix for unreleased tailwind 4 bugs with selection */
::selection {
  background-color: rgba(251, 189, 84, 0.5);
}

@layer utilities {
  .outline-text {
    color: transparent;
    -webkit-text-stroke: 1px #004b34;
  }
}
